<h1> Song </h1>

<h1><%= @song.name %></h1>
<h1><%= @song.artist_id %><h/1>
<h1><%= @song.genre_id %></h1>

<h3> Artist </h3>
<% @song.artist.each do |artist| %>
<p>
<h4><%= artist.name %></h4>
<h4><%= artist.bio %></h4>
</p>
<%end%>

<h3> Genre </h3>
<% @song.genre.each do |genre| %>
<p>
<h4><%= genre.name %></h4>
</p>
<%end%>
